<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) 2026 Cedar Valley Research Labs, L.L.C. - cvresearchlabs.com -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cvresearchlabs.sbsbrowser"
          versionCode="1"
          versionName="0.1">
    <uses-sdk android:minSdkVersion="23"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:label="SBSBrowser - cvresearchlabs.com">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
